extends ../layout.pug

block content 
    h2 Detalle del cliente 
    h4 #{cliente.nombre} #{cliente.apellidos}
    p Email: #{cliente.email}
    p Dirección: #{cliente.direccion}
    p Cuota: #{cliente.cuota}
    p Edad: #{cliente.edad}
